<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pincode site</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="pin-container">
            <h2>Enter pincode</h2>
            <form id="pinForm" onsubmit="submitPin(event)">
                <input type="password" class="pin-input" id="pin" maxlength="4" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                <div class="input-helper">Only numbers (0-9) are allowed. Pincode must be 4 digits.</div>
                <button type="submit" class="submit-btn">Submit</button>
                <p id="status"><span id="status-icon"></span> <span id="status-text"></span></p>
            </form>
        </div>
        <script src="{{ url_for('static', filename='pin.js') }}"></script>
    </body>
</html>